.discover {
  &__img {
    position: absolute;
    top: 100px;
    min-width: 900px;
    right: 0;
    opacity: 0;
    transform: translate(0, 20px);
    transition: opacity 1s $timing, transform 1s $timing;
    // position: relative;
    @include d(1600) {
      min-width: auto;
      max-width: 800px;
    }
      @include d(1500) {
      max-width: 700px;
    }
    @include d(1440) {
      max-width: 640px;
    }
  }

  &__pane {
    position: absolute;
    overflow: hidden;
    transform: translate(-50%, -50%);

    &_hidden {
      position: relative;
      top: 100%;
      left: 0;
    }

    &_1 {
      top: 50%;
      left: 25%;
      height: 131px;
    }

    &_2 {
      top: 0;
      left: 25%;
      height: 138px;
    }

    &_3 {
      top: 5%;
      left: 53%;
      height: 126px;
    }

    &_4 {
      top: 37%;
      right: 0;
      height: 132px;
      @include d(1600) {
        right: -50px;
      }
      @include d(1440) {
        right: -100px;
        // width: 100px;
      }
    }

    &_5 {
      top: 30%;
      right: 43%;
      height: 30px;
    }

    &_6 {
      top: 10%;
      left: 10%;
      height: 30px;
    }

    &_7 {
      bottom: 50%;
      left: 50%;
      height: 22px;
    }
  }
}


@keyframes showPane {
  0% {
    top: 100%;
    opacity: 0;
  }

  20% {
    top: 0;
    opacity: 1;
  }

  50% {
    top: 0;
    opacity: 1;
  }

  60% {
    top: 0;
    opacity: 0;
  }

  80% {
    top: 100%;
    opacity: 0;
  }

  90% {
    top: 50%;
    opacity: 1;
  }

  100% {
    top: 0;
    opacity: 1;
  }
}