.download {

  &__media {
    width: 100%;
    height: 80vh;
    max-height: 900px;
    position: absolute;
    top: -20%;
    bottom: 0;
    right: 0;

    @include d(1440) {
      height: 70vh;
      right: -15%;
      top: -12%;
    }

    @include d(991) {
      position: static;
      height: auto;

    }
  }

  &__iphone,
  &__phone {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;

    @include d(991) {
      display: none;
    }

    canvas {
      width: 100%;
      height: 100%;
    }
  }

  &__iphone {
    z-index: 1;
    left: 0;
    right: auto;
    top: 10%;
  }

  &__phone {
    right: -12%;
    top: -5%;
    transition-delay: .4s;
  }

  &__content {
    @include d(1440) {
      max-width: 640px;
      flex: 0 0 640px;
    }

    @include d(1024) {
      max-width: 570px;
      flex: 0 0 570px;
    }

    @include d(991) {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
}