.features {
  // position: relative;
  // z-index: 1;

  &__img {
    position: relative;
    height: 100%;

    @include rh(1024) {
      &:hover {
        .features__media_2 {
          transform: rotate(0);
        }

        .features__media_1 {
          transform: rotate(15deg) translate(0, -50%);

        }
      }
    }
  }

  &__shine {
    position: absolute;
    top: 0;
    right: 0;
    width: 100vh;
    z-index: -1;
    max-width: 1680px;
    height: 100vh;
    opacity: .6;
  }

  &__media {
    position: absolute;
    width: 100%;
    max-width: 261px;
    // max-width: 18vw;
    // top: -20px;
    top: 55%;
    transform: translate(0, -50%);
    right: 135px;
    pointer-events: none;
    opacity: 0;
    transition: transform 1s $timing, opacity $timing 1s;

    &_1 {
      transform-origin: right bottom;
    }

    &_2 {
      // right: 185px;
      right: 13vw;
      top: 20%;
      transform-origin: left bottom;
      transform: rotate(-5deg);
      z-index: -1;
    }
  }
}

.pagination {
  &__row {
    margin-top: 220px;
    display: flex;
    align-items: center;
    position: fixed;
  }

  &__list {
    display: flex;
    align-items: center;
    margin-right: 30px;
  }

  &__item {
    width: 10px;
    height: 10px;
    background-color: $white;
    border-radius: 50%;
    opacity: .15;
    transition: opacity 1s $timing;

    &.active {
      opacity: 1;
    }

    &:not(:last-child) {
      margin-right: 10px;
    }
  }
}

.circle {
  width: 34px;
  height: 34px;

  circle {
    width: 100%;
    height: 100%;
    fill: none;
    stroke-width: 2;
    stroke-linecap: round;
    stroke: $white;
    transform: translate(2px, 2px);
    stroke-dasharray: 100;
    stroke-dashoffset: 100;
    // animation: paginationCircle 2s linear infinite;
  }
}

@keyframes paginationCircle {
  0% {
    stroke-dashoffset: 100;

  }

  100% {
    stroke-dashoffset: 0;
  }
}

.slide__item {
  position: fixed;
  z-index: 1;
  // visibility: hidden;
  width: 100%;
  top: 50%;
  transform: translate(0, -50%);
  left: 0;
  opacity: 0;
  pointer-events: none;
  transition: .4s;
  // height: 100vh;
  height: 100%;
  align-items: center;
  // padding-top: 14%;
}

// .slide-item.slide-item__1:not(.show) {
//   position: fixed;
// }

.section__slider__sticky {
  // height: 100%;
}

.section__slider {
  height: 700vh;

  .container {
    height: 100%;
  }
}

.slide__item.show {
  // visibility: visible;
  opacity: 1;
  pointer-events: initial;
  position: fixed;

  .features__media {
    pointer-events: initial;
    opacity: 1;
  }

  .features__media_2 {
    transform: rotate(-15deg);
  }

  .section__img {
    transform: scale(1) rotate(0deg);
    opacity: 1;
  }

  .js-move-top,
  .js-move-down,
  .js-move-right,
  .js-move-left {
    transform: translate(0, 0);
    opacity: 1;
  }

}