@keyframes featuresStart {
  0% {
    transform: rotate(-15deg);

  }

  100% {
    transform: rotate(0);

  }
}

@keyframes featuresFinish {
  0% {
    transform: rotate(0);

  }

  100% {
    transform: rotate(35deg);
  }
}

.features {

  &__img {
    height: 100%;
    transform: rotate(-15deg);
    animation: featuresFinish 2s linear 1 backwards;
    transition: all 1s $timing;

    @include d(768) {
      max-width: 100%;
      margin: 0 auto;
      display: none;
    }

    @include rh(1024) {
      &:hover {
        .features__media_2 {
          transform: rotate(0);
        }

        .features__media_1 {
          transform: rotate(15deg) translate(0, -50%);

        }
      }
    }
  }

  &__shine,
  picture {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vh;
    z-index: -1;
    height: 100vh;
    opacity: .4;
  }

  &__video {
    width: 50vw;
    position: absolute;
    top: 0;
    left: 5vw;
    z-index: -1;
    border-radius: 50%;
    overflow: hidden;
    z-index: -1;

    video {
      width: 100%;
    }
  }

  &__media {
    position: absolute;
    width: 100%;
    max-width: 261px;
    top: 55%;
    transform: translate(0, -50%);
    right: 135px;
    pointer-events: none;
    opacity: 0;
    transition: transform 1s $timing, opacity $timing 1s;

    @include d(1440) {
      max-width: 220px;
      top: 50%;
    }

    @include d(1299) {
      max-width: 190px;
    }

    &_1 {
      transform-origin: center;
    }

    &_2 {
      right: 13vw;
      top: 20%;
      transform-origin: left bottom;
      transform: rotate(-5deg);
      z-index: -1;

      @include d(1440) {
        top: 23%;
      }
    }
  }
}

// .pagination {
//   &__row {
//     display: flex;
//     align-items: center;
//     position: fixed;
//     // display: none;
//   }

//   &__list {
//     display: flex;
//     align-items: center;
//     margin-right: 30px;
//   }

//   &__item {
//     width: 10px;
//     height: 10px;
//     background-color: $white;
//     border-radius: 50%;
//     opacity: .15;
//     transition: opacity 1s $timing;

//     &.active {
//       opacity: 1;
//     }

//     &:not(:last-child) {
//       margin-right: 10px;
//     }
//   }
// }

// .circle {
//   width: 34px;
//   height: 34px;

//   circle {
//     width: 100%;
//     height: 100%;
//     fill: none;
//     stroke-width: 2;
//     stroke-linecap: round;
//     stroke: $white;
//     transform: translate(2px, 2px);
//     stroke-dasharray: 100;
//     stroke-dashoffset: 100;
//     // animation: paginationCircle 2s linear infinite;
//   }
// }

// @keyframes paginationCircle {
//   0% {
//     stroke-dashoffset: 100;

//   }

//   100% {
//     stroke-dashoffset: 0;
//   }
// }

.slide__item {
  position: absolute;
  z-index: 1;
  // flex: 0 0 100%;
  top: 50%;
  // top: 0;
  transform: translate(0, -50%);
  left: 0;
  opacity: 0;
  // opacity: 1;
  position: relative;
  pointer-events: none;
  // min-height: 100vh;
  // margin-top: auto;
  // margin-bottom: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;

  @include d(768) {
    // padding-top: 200px;
  }
}

.section__slider {
  height: 600vh;
  z-index: 2;
}

.slide__item.show {
  opacity: 1;
  pointer-events: initial;
  position: fixed;
  transition: .4s;

  .features__media {
    pointer-events: initial;
    opacity: 1;
  }

  .features__media_2 {
    transform: rotate(-15deg);
  }

  .features__img {
    transform: scale(1) rotate(0deg);
    opacity: 1;
    // animation: featuresFinish 1s ;
    // animation: featuresFinish 1s linear 1 forwards;
    animation: featuresStart 1s linear 1 forwards;
  }

  // .circle circle {
  //   animation: paginationCircle 2s linear forwards;
  // }

  .js-show-top,
  .js-show-down {
    transform: translate(0, 0);
    opacity: 1;
  }

}

// .slide__item.showed {
//   .features__media_2 {
//     // transform: rotate(15deg);
//     // animation: restartFeaturesPosition 2s linear forwards;
//   }
// }

// @keyframes restartFeaturesPosition {
//   0% {
//     transform: rotate(0deg);
//   }

//   50% {
//     transform: rotate(15deg);
//   }

//   100% {
//     transform: rotate(-15deg);
//   }
// }

.section__slider__sticky {
  // height: 100%;
}