.features {
  // position: relative;
  z-index: 1;

  &__img {

    @include rh(1024) {
      &:hover {
        .features__media_2 {
          transform: rotate(0);
        }

        .features__media_1 {
          transform: rotate(15deg);
        }
      }
    }
  }

  &__media {
    position: absolute;
    width: 100%;
    max-width: 259px;
    // max-width: 18vw;
    top: -20px;
    right: 135px;
    transition: transform 1s $timing;
    pointer-events: none;
    &_1 {
      transform-origin: right bottom;
    }

    &_2 {
      // right: 185px;
      right: 13vw;
      top: 60px;
      transform-origin: left bottom;
      transform: rotate(-5deg);
      z-index: -1;
    }
  }
}

.pagination {
  &__row {
    margin-top: 220px;
    display: flex;
    align-items: center;
  }

  &__list {
    display: flex;
    align-items: center;
    margin-right: 30px;
  }

  &__item {
    width: 10px;
    height: 10px;
    background-color: $white;
    border-radius: 50%;
    opacity: .15;
    transition: opacity 1s $timing;

    &.active {
      opacity: 1;
    }

    &:not(:last-child) {
      margin-right: 10px;
    }
  }
}

.circle {
  width: 34px;
  height: 34px;

  circle {
    width: 100%;
    height: 100%;
    fill: none;
    stroke-width: 2;
    stroke-linecap: round;
    stroke: $white;
    transform: translate(2px, 2px);
    stroke-dasharray: 100;
    stroke-dashoffset: 100;
    // animation: paginationCircle 2s linear infinite;
  }
}

@keyframes paginationCircle {
  0% {
    stroke-dashoffset: 100;

  }

  100% {
    stroke-dashoffset: 0;
  }
}