.hero {
  padding-top: 122px;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;

  &__title {
    padding: 68px 0 0 0;
    display: inline-block;
    background: -webkit-linear-gradient($primary-blue, $primary-green);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
  }

  &__content {
    position: relative;
    z-index: 1;
    max-width: 60%;

    @include d(1500) {
      max-width: 670px;
    }

    p {
      max-width: 530px;
    }
  }

  &-bg {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transform-origin: center;
    transform: scale(1);
    transition: transform 4s ease-out;
    z-index: 1;

    &.js-active {
      transform: scale(1.2);
    }
  }
}

.scroll-down {
  width: 26px;
  height: 38px;
  border: 2px solid $textColor;
  border-radius: 30px;
  position: absolute;
  left: 50%;
  bottom: 30px;
  transform: translate(-50%, 0);
  z-index: 10;

  &::before {
    content: "";
    width: 2px;
    height: 20%;
    position: absolute;
    bottom: 24px;
    left: 50%;
    margin-left: -1px;
    border-radius: 10px;
    background-color: $textColor;
    animation: scrollAnimate 1.4s linear infinite;
  }
}

@keyframes scrollAnimate {
  0% {
    transform: translate(0, 0);
    height: 20%;
    opacity: 1;
  }

  100% {
    transform: translate(0, 200%);
    height: 5%;
    opacity: 0;
  }
}