.social {
  .ellipse_1 {
    top: -100px;
  }

  .ellipse_3 {
    top: 30%;
  }

  &-waves {
    position: absolute;
    left: -15%;
    // right: 0;
    top: -50%;
    width: 50vw;
    height: 50vw;
    background-image: url(../img/social-waves.svg);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: contain;
    transform: translate(0, -50px);
    opacity: 0;
    transition: transform 3s $timing, opacity 3s $timing;

    @include d(1440) {
      left: -19%;
      top: -30%;
    }

    @include d(1024) {
      left: -12%;
      top: -10%;
    }
  }

  &__img {
    position: relative;
  }

  &__media {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 90vh;
    max-height: 900px;
    transform: translate(-50%, -50%);

    @include d(1440) {
      height: 50vw;
      left: 40%;
    }

    @include d(1024) {
      height: 60vw;
    }
  }

  &__phone {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 5%;

    canvas {
      width: 100%;
      height: 100%;
    }
  }
}

@keyframes opacityWaves {
  0% {
    opacity: .2;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: .2;
  }
}