.js-show-on-load {
  opacity: 1;
  transform: matrix(1, 0, 0, 1, 0, 0);
  transition: opacity $duration $timing, transform $duration $timing;
}

// classes for animation
.js-show-on-scroll {
  transition: opacity $duration $timing, transform $duration $timing;
}

.js-fadeIn {
  opacity: 0;
}

.js-slide-right,
.js-move-right {
  opacity: 0;
  transform: translate(20px, 0);
}

.js-slide-left,
.js-move-left {
  opacity: 0;
  transform: translate(-20px, 0);
}

.js-slide-top,
.js-move-top,
.js-show-top {
  opacity: 0;
  transform: translate(0, 20px);
  // @include d(991) {
  //   opacity: 1;
  //   transform: translate(0,0);
  // }
}

.js-slide-top {
  @include d(991) {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.js-slide-down,
.js-move-down,
.js-show-down {
  opacity: 0;
  transform: translate(0, -20px);
}

.hide-content {
  opacity: 0;
}


// logo animation
.logo {
  // max-width: 151px;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  transition: width $duration $timing;

  @include d(991) {
    max-width: 150px;
    width: auto;
    height: auto;
    position: static;
  }

  // transform: translate(-50%, -50%);
  // top: 50vh;
  // left: 50vw;
  // opacity: 0;

  // @include d(768) {
  //   opacity: 1;
  //   top: 0;
  //   left: 0;
  //   transform: translate(0%, 0%) scale(1) rotate(0);
  // }
  canvas {
    // width: 100%;
    // height: 100%;
    // width: 151px !important; 
    opacity: 1;
    transition: opacity $duration $timing;

    @include d(991) {
      display: none;
    }
  }

  img {
    display: none;

    @include d(991) {
      display: block;
    }
  }

  &.animate {
    animation: animiateLogo 2s linear 3s forwards;

    // animation: name duration timing-function delay iteration-count direction fill-mode;
    @include d(767) {
      animation: none;
    }

    // .logo-svg {
    //   .logo-svg_bounce {
    //     transform: translate(0, 0);
    //   }

    //   .logo-svg_letter {
    //     opacity: 1;
    //     transform: translate(0, 0);
    //   }
    // }
  }
}

// .logo-svg {
//   position: relative;
//   width: 151px;

//   @include d(768) {
//     display: none;
//   }

//   &_letter {
//     position: absolute;
//     opacity: 0;
//     transition: opacity linear 1s, transform linear 1s;
//     transition-delay: 1.5s;

//     &._w {
//       transform: translate(10%, 0);
//     }

//     &._a {
//       transform: translate(0%, 0);
//     }

//     &._d {
//       transform: translate(-10%, 0);
//     }

//     &._i {
//       transform: translate(-15%, 0);
//     }

//     &._o {
//       transform: translate(-20%, 0);
//     }

//   }

//   &_bounce {
//     position: absolute;
//     transform-origin: center;
//     transform: translate(40%, 0);
//     transition: transform 1s linear;
//     transition-delay: 1.5s;
//   }
// }

// @keyframes animiateLogo {
//   0% {
//     transform: translate(-50%, -50%) scale(0) rotate(0);
//     top: 50vh;
//     left: 50%;
//     opacity: 0;
//   }

//   10% {
//     transform: translate(-50%, -50%) scale(0) rotate(0);
//     opacity: 1;
//     top: 50vh;
//     left: 50%;
//   }

//   20% {
//     transform: translate(-50%, -50%) scale(1.2) rotate(0);
//     opacity: 1;
//     top: 50vh;
//     left: 50%;
//   }

//   30% {
//     transform: translate(-50%, -50%) scale(2.4) rotate(-25deg);
//     opacity: 1;
//     top: 50vh;
//     left: 50%;
//   }

//   40% {
//     transform: translate(-50%, -50%) scale(2) rotate(-12.5deg);
//     opacity: 1;
//     top: 50vh;
//     left: 50%;
//   }

//   50% {
//     transform: translate(-50%, -50%) scale(2) rotate(0);
//     top: 50vh;
//     left: 50%;
//     opacity: 1;
//   }

//   60% {
//     transform: translate(-50%, -50%) scale(2) rotate(0);
//     top: 50vh;
//     left: 50%;
//     opacity: 1;
//   }

//   70% {
//     transform: translate(-50%, -50%) scale(2) rotate(0);
//     top: 50vh;
//     left: 50%;
//     opacity: 1;
//   }

//   80% {
//     transform: translate(-50%, -50%) scale(2) rotate(0);
//     top: 50vh;
//     left: 50%;
//     opacity: 1;
//   }

//   90% {
//     transform: translate(0, 0) scale(1.5) rotate(0);
//     top: 25vh;
//     left: 25%;
//     opacity: 1;
//   }

//   100% {
//     opacity: 1;
//     top: 0;
//     left: 0;
//     transform: translate(0%, 0%) scale(1) rotate(0);
//   }
// }

@keyframes animiateLogo {
  0% {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
  }

  50% {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
  }

  100% {
    width: 50%;
    height: 50%;
    top: -20vh;
    left: -10vw;
  }
}

@keyframes showSocial {
  0% {
    transform: rotate(235deg) scale(.1);
    opacity: 0;
  }

  60% {
    transform: rotate(-10deg) scale(1.3);
  }

  100% {
    transform: rotate(0) scale(1);
    opacity: 1;
  }
}


@keyframes rotateImg {
  0% {
    opacity: 1;
    transform: rotate(-15deg);
  }

  50% {
    opacity: 0;
    transform: rotate(15deg);
  }

  51% {
    opacity: 0;
    transform: rotate(-25deg);
  }

  100% {
    opacity: 0;
    transform: rotate(-25deg);
  }
}

@keyframes rotateImg2 {
  0% {
    opacity: 1;
    transform: translate(0, -50%) rotate(0);
  }

  50% {
    opacity: 0;
    transform: translate(0, -50%) rotate(15deg);
  }

  51% {
    opacity: 0;
    transform: translate(0, -50%) rotate(-15deg);
  }

  100% {
    opacity: 0;
    transform: translate(0, -50%) rotate(-15deg);
  }
}

@keyframes hideFeaturesText {
  0% {
    opacity: 1;
    transform: translate(0, 0);
  }

  50% {
    opacity: 0;
    transform: translate(0, 0);

  }

  51% {
    opacity: 0;
    transform: translate(0, 20px);
  }

  100% {
    opacity: 0;
    transform: translate(0, 20px);
  }
}


@keyframes hideFeaturesTitle {
  0% {
    opacity: 1;
    transform: translate(0, 0);
  }

  50% {
    opacity: 0;
    transform: translate(0, 0);

  }

  51% {
    opacity: 0;
    transform: translate(0, 20px);
  }

  100% {
    opacity: 0;
    transform: translate(0, -20px);
  }
}