// project main styles
html {
  box-sizing: border-box;
}

body {
  font-size: 18px;
  font-family: "Nunito", Helvetica, sans-serif;
  color: $textColor;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  backface-visibility: hidden;
  text-rendering: geometricPrecision;

  @include d(1500) {
    font-size: 16px;
  }

  //style default scrollbar
  &::-webkit-scrollbar {
    width: 6px;
    background-color: $textColor;
    display: none;
  }

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 4px $textColor;
    box-shadow: inset 0 0 4px $textColor;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $primary;
    outline: 1px solid $primary;
    transition: background-color 0.4s ease;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 700;
  letter-spacing: .02em;
  color: $titleColor;
}

h1,
h2 {
  font-size: 90px;
  line-height: 1.286em;
  text-transform: uppercase;
  margin: 20px 0;

  @include d(1440) {
    font-size: 70px;
  }
}

h3 {
  font-size: 70px;
  text-transform: uppercase;
  line-height: 1.172em;
  margin: 16px 20px 16px 0;
  letter-spacing: .06em;

  @include d(1440) {
    font-size: 58px;
  }
}

h4 {
  font-size: 42px;
  line-height: 1.33em;
  letter-spacing: .06em;
  text-transform: uppercase;
  margin: 26px 0;
}

h5 {
  font-size: 30px;
  line-height: 1em;
  text-transform: uppercase;
}

h6 {
  font-size: 18px;
  letter-spacing: 0.075em;
}

.title-1 {
  @extend h1;
}

.title-2 {
  @extend h2;
}

.title-3 {
  @extend h3;
}

.title-4 {
  @extend h4;
}

.title-5 {
  @extend h5;
}

.title-6 {
  @extend h6;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  margin: 0;
  letter-spacing: .02em;
}

b,
strong {
  font-size: inherit;
}

img,
picture,
source {
  width: 100%;
  display: block;
}

label {
  cursor: pointer;
}

// hide custom arrows
select {
  -webkit-appearance: none;
  appearance: none;
  outline: none;
}

select::-ms-expand {
  display: none;
}

p,
li {
  line-height: 1.875em;
  margin: 0;
  letter-spacing: .026em;
}

ul,
ol {
  padding-left: 0;
  margin: 0;

  li {
    list-style: none;
  }
}

.section {
  height: 100vh;
  box-sizing: border-box;
  overflow: hidden;
  opacity: 0;
  transition: opacity 1s linear;

  &.active {
    opacity: 1;

    .js-move-top,
    .js-move-down,
    .js-move-right,
    .js-move-left {
      transform: translate(0, 0);
      opacity: 1;
    }

    .decor-text {
      transform: translate(0, -50%);
      opacity: .05;
    }

    .circle circle {
      animation: paginationCircle 2s linear forwards;
    }

    .section__img {
      transform: scale(1) rotate(0deg);
    }

    .features__media {
      pointer-events: initial;
    }

    .features__media_2 {
      transform: rotate(-15deg);
    }

    .equalizer,
    .music-waves,
    .subscription-waves {
      transform: translate(0, 0);
      opacity: 1;
    }

    .social-waves {
      transform: translate(0, 0);
      opacity: 1;
      animation: opacityWaves 10s linear infinite;
    }

    .share-list__item {
      animation: showSocial 1.2s linear forwards;

      &._1 {
        animation-delay: .3s;
      }

      &._2 {
        animation-delay: .7s;
      }

      &._3 {
        animation-delay: .5s;
      }

      &._4 {
        animation-delay: .3s;
      }

      &._5 {
        animation-delay: .3s;
      }

      &._6 {
        animation-delay: .7s;
      }

      &._9 {
        animation-delay: .5s;

      }

      &._10 {
        animation-delay: .5s;
      }
    }
  }

  &__row {
    display: flex;
  }


  &__img {
    transform: scale(1.1) rotate(10deg);
    transition: transform 1s linear;
  }

  &__content,
  .section__img {
    width: 100%;
    max-width: 50%;
    position: relative;

    // z-index: 10;
    &_right {
      margin-left: 173px;
    }
  }

  &__title {
    transform: translate(0, -20px);
    opacity: 0;
    transition: transform $duration $timing, opacity $duration $timing;
  }

  &__text {
    margin: 33px 0;
    max-width: 500px;
    transform: translate(0, 20px);
    opacity: 0;
    transition: transform $duration $timing, opacity $duration $timing;
  }

  &_inner {
    // padding-top: 205px;
    padding-top: 14%;
  }

  &-list {
    margin-top: 50px;

    &__item {
      position: relative;
      padding-left: 20px;

      &:not(:last-child) {
        margin-bottom: 16px;
      }

      &::before {
        content: "";
        width: 5px;
        height: 5px;
        background-color: $primary-green;
        border-radius: 50%;
        position: absolute;
        left: 0;
        top: 13px;

      }
    }
  }
}

blockquote,
figure {
  margin: 0;
}

button {
  &:hover {
    cursor: pointer;
  }

  &:focus {
    outline: none;
  }
}

// hide date navigation in input
input[type="date"] {
  display: block;
  -webkit-appearance: textfield;
  -moz-appearance: textfield;

  &::-webkit-inner-spin-button {
    display: none;
  }

  &::-webkit-calendar-picker-indicator {
    opacity: 0;
    position: relative;
    right: -10px;
  }

  &::-webkit-inner-spin-button,
  &::-webkit-calendar-picker-indicator {
    opacity: 0;
    -webkit-appearance: none;
  }
}

// hide arrows in input type number
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

textarea,
input {
  color: $textColor;
  width: 100%;
  border: none;
  transition: border-color $timing $hover-duration,
    color $timing $hover-duration;

  &:focus {
    outline: none;
    border-color: $black;
  }

  &::-webkit-input-placeholder {
    font-family: inherit;
    font-size: 16px;
    color: $textColor;
  }

  &::-moz-placeholder {
    font-family: inherit;
    font-size: 16px;
    color: $black;
  }

  &:-ms-input-placeholder {
    font-family: inherit;
    font-size: 16px;
    color: $black;
  }

  &::placeholder {
    font-family: inherit;
    font-size: 16px;
    color: $black;
  }
}

textarea {
  resize: none;
  outline: none;
  line-height: 1.2em;
  height: 100%;
}

.main-wrapper {
  position: relative;
  // overflow: hidden;
  height: 100vh;
  background-color: $black;
  opacity: 1;
  transition: opacity $duration $timing;
}

.pp-tableCell {
  vertical-align: baseline;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
  max-width: 80vw;

  @include d(1500) {
    max-width: 1200px;
  }
}

.scene,
canvas {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.btn {
  display: flex;
  align-items: center;
  position: relative;
  border: 2px;
  height: 50px;
  min-width: 185px;
  font-weight: 700;
  color: $textColor;
  background-color: $primary;
  background-clip: padding-box;
  border: solid 2px transparent;
  border-radius: 10px;
  padding: 0;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -2px;
    border-radius: inherit;
    background: linear-gradient(165deg, rgba(#D7E3FF, .5), rgba(#5D97EE, .5));
  }

  &_download {
    text-align: left;
    color: $white;

    .btn__box {
      padding: 10px 23px 10px 25px;

    }
  }

  &__box {
    position: relative;
    padding: 14px 23px 14px 25px;

    &::before {
      content: "";
      width: 1px;
      height: 100%;
      background: linear-gradient(165deg, rgba(#D7E3FF, .5), rgba(#5D97EE, .5));
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  &__cta {
    display: block;
    font-size: 9px;
    font-weight: 700;
  }

  .svg-icon {
    padding: 15px;
  }

  img,
  picture {
    width: 16px;
  }

  picture {
    padding: 15px;
  }
}

.btn-group {
  display: flex;
  margin: 50px 0;

  .btn:not(:last-child) {
    margin-right: 34px;
  }
}

.svg-icon {
  fill: $textColor;
  width: 19px;
  height: 19px;
}

.waves {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-image: url(../img/hero-waves.svg);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: contain;
  filter: url("#turbulence");
}

.ellipse {
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: .1;

  &_1 {
    width: 56vw;
    height: 56vw;
    top: -23vw;
    right: -16vw;
    z-index: 2;
  }

  &_2 {
    width: 70vw;
    height: 70vw;
    bottom: -16vw;
    right: -18vw;
    z-index: 2;
  }

  &_3 {
    width: 90vw;
    height: 90vw;
    left: 45%;
    transform: translate(-50%, 0);
    bottom: -16vw;
    z-index: 1;
  }

  &_4 {
    width: 85vw;
    height: 85vw;
    top: -20vw;
    left: -19vw;
    z-index: 0;
  }
}

.subtitle {
  text-transform: uppercase;
  font-weight: 800;
  color: $textColor;
}


.decor-text {
  font-size: 360px;
  font-weight: 700;
  color: $textColor;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  text-transform: uppercase;
  transition: transform 3s $timing, opacity 3s $timing;
  z-index: -1;

  // &.animate {
  //   transform: translate(-50%, -50%);
  //   opacity: 0;
  // }
}

.equalizer {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-image: url(../img/equalizer.svg);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: contain;
  filter: url("#turbulence");
  z-index: -1;
  transform: translate(0, 50px);
  opacity: 0;
  transition: transform 3s $timing, opacity 3s $timing;
}

.js-screen {
  // opacity: 0;
  // position: fixed;
  // top: 0;
  // left: 0;
  // bottom: 0;
  // right: 0;
  // transition: opacity, 4s ease;

  &.active {
    // opacity: 1;
  }
}