<!-- header start -->
<header class="header">
  <div class="container">
    <div class="header-row">
      <a href="#" class="logo" id="logo">
        <img src="img/logo.svg" alt="wadio">
      </a>
      <nav class="nav js-menu">
        <ul class="nav-list">
          <li class="nav-list__item"><a href="#" class="nav-list__link">Get App</a></li>
          <li class="nav-list__item"><a href="#" class="nav-list__link">Share App</a></li>
          <li class="nav-list__item"><a href="#" class="nav-list__link">Features</a></li>
          <li class="nav-list__item"><a href="#" class="nav-list__link">Subscription</a></li>
          <li class="nav-list__item"><a href="#" class="nav-list__link">For Artists</a></li>
          <li class="nav-list__item"><a href="#" class="nav-list__link">For Broadcasters</a></li>
          <li class="nav-list__item"><a href="#" class="nav-list__link">Partnership</a></li>
          <li class="nav-list__item"><a href="#" class="nav-list__link">Contact Us</a></li>
        </ul>
      </nav>
      <div class="header__content js-show-on-load js-slide-top">
        <a href="#" class="header__link">for Artists</a>
        <a href="#" class="header__link">for Broadcasters</a>
      </div>
      <button class="burger js-burger">
        <span class="burger__item"></span>
        <span class="burger__item"></span>
        <span class="burger__item"></span>
      </button>
    </div>
  </div>
</header>
<!-- header end -->