<!-- header start -->
<header class="header">
  <div class="container">
    <div class="header-row">
      <a href="#" class="logo">
        <img src="img/logo.svg" alt="wadio">
      </a>
      <div class="header__content">
        <a href="#" class="header__link">for Artists</a>
        <a href="#" class="header__link">for Broadcasters</a>
        <button class="burger">
          <span class="burger__item"></span>
          <span class="burger__item"></span>
          <span class="burger__item"></span>
        </button>
      </div>
    </div>
  </div>
</header>
<!-- header end -->