// project colors
$white: #ffffff;
$black: #000000;
$textColor: #b0b4d2;
$titleColor: #f2f2f2;
$primary: #161D40;
$primary-green: #00E482;
$primary-blue: #5D8EFF;
$ellipseBg: #4200ff;
$borderColor: rgba($white, 0.3);
// timing
$hover-duration: .4s;
$duration: 1s;
// $timing: cubic-bezier(.7, 0, .3, 1);
$timing: ease-out;