// project colors
$white: #ffffff;
$black: #000000;
$textColor: #b0b4d2;
$titleColor: #f2f2f2;
$primary: #161D40;
$borderColor: rgba($white, 0.3);
// timing
$hover-duration: .4s;
$duration: .8s;
$timing: cubic-bezier(.7, 0, .3, 1);